.button {
  font: inherit;
  border: 1px solid #022355;
  background: #183b6f;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: #4578c3;
  border-color: #173c74;
  color: #fff;
}

.button:focus {
  outline: none;
}